<section
  class="current-training"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <mat-progress-spinner
    class="top-spinner"
    mode="determinate"
    [value]="progress"
  ></mat-progress-spinner>
  <mat-progress-spinner
    class="bg-spinner"
    mode="determinate"
    value="100"
    color="primary"
  ></mat-progress-spinner>
  <h1>{{ progress }}%</h1>
  <p>Keep on going, you can do it!</p>
  <button
    mat-raised-button
    color="accent"
    (click)="onPause()"
    [disabled]="progress === 100"
  >
    {{ stopped ? "Start" : "Stop" }}
  </button>
  <button class="quit-button" mat-button color="warn" (click)="onQuit()">
    finish training
  </button>
</section>
